<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
    <title>Peluditos Pet Shop ADMIN</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Document</title>
</head>

<body>
    <div id="header-container">
        <header id="header">
            <div class="header-content">
                <div class="header-logo">
                    <img class="img-logo" src="../../assets/img/logo.png" alt="logo" height="80px">
                    <img class="img-logo" src="../../assets/img/texto-peluditos.png" alt="texto-peluditos" height="50px">
                    <div class="name-container">
                    </div>
                </div>
                
                <nav class="header-nav">
                    <a class="nav-btn" href="/views/admin/get.html">Ver productos</a>
                    <a class="nav-btn" href="/views/admin/getId.html">Consultar producto</a>
                    <a class="nav-btn" href="/views/admin/post.html">Agregar producto</a>
                    <a class="nav-btn" href="/views/admin/put.html">Modificar producto</a>
                </nav>
            </div>
        </header>
    </div>

        <!----Main---->
    <main>
        <!----Seccion de productos-->
        <section class="products-container">
            <header class="products-header">
                <h2>Productos</h2>

                <!-- <nav class="filters-nav">
                    <button class="btn btn-ghost " id="btn-todos">Todos</button>
                    <button class="btn btn-ghost " id="btn-alimentos">Alimentos</button>
                    <button class="btn btn-ghost " id="btn-accesorios">Accesorios</button>
                    <button class="btn btn-primary" id="btn-abrir-filtros">Filtrar por</button>
                </nav> -->
            </header>
            <div class="products-grid">
                
            </div>
        </section>

    </main>

    <!----Footer---->
    <footer>
        <div class="footer-container">
            <p>&copy; 2026 Tienda Peluditos. Todos los derechos reservados.</p>
            <p> Desarrollado por: <strong>Matías Barboza y Guadalupe Valdez</strong></p>
        </div>
    </footer>

    <script src="../../js/admin/get.js"></script>
</body>
</html>