<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
    <title>Peluditos Pet Shop ADMIN</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="../../css/styles.css">
</head>

<body>
    <div id="header-container">
        <header id="header">
            <div class="header-content">
                <div class="header-logo">
                    <img class="img-logo" src="../../assets/img/logo.png" alt="logo" height="80px">
                    <img class="img-logo" src="../../assets/img/texto-peluditos.png" alt="texto-peluditos"
                        height="50px">
                    <div class="name-container">
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!----Main---->
    <main class="main-center">
        <!----Seccion de productos-->
        <section class="login-container">
            <h2 class="login-title">Iniciar sesión</h2>
            <div class="form-container">
                <form id="login-form">

                    <div id="user-container" class="login-form-container" style="margin-bottom: 15px;">
                        <label for="user">Usuario</label>
                        <input type="text" name="username" id="user" placeholder="Nombre de usuario" required
                            style="width: 100%; box-sizing: border-box; padding: 10px;">
                    </div>

                    <div id="password-container" class="login-form-container">
                        <label for="pass">Contraseña</label>

                        <div style="position: relative; width: 100%;">
                            <input type="password" name="password" id="pass" placeholder="Contraseña" required
                                style="width: 100%; box-sizing: border-box; padding: 10px; padding-right: 40px;">

                            <button type="button" id="btn-toggle-pass">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                    <circle cx="12" cy="12" r="3"></circle>
                                </svg>
                            </button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="login-btn-container">
                <input class="btn btn-primary" type="submit" id="btn-acceso" value="Acceso rapido">
                <input class="btn btn-primary" type="submit" id="btn-ingresar" value="Ingresar">
            </div>

        </section>

    </main>

    <!----Footer---->
    <footer>
        <div class="footer-container">
            <p>&copy; 2026 Tienda Peluditos. Todos los derechos reservados.</p>
            <p> Desarrollado por: <strong>Matías Barboza y Guadalupe Valdez</strong></p>
        </div>
    </footer>

    <script src="../../js/admin/login.js"></script>
</body>

</html>