<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
    <title>Peluditos Pet Shop</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon_io/favicon-16x16.png">
    <meta name="view-transition" content="same-origin">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <!----Modal bienvenida---->
    <div id="overlay-bienvenida" class="hidden">
        <div id="modal-bienvenida">
            <div class="logo-vertical">
                <img class="img-logo-modal" src="../assets/img/logo.png" alt="logo" height="80px">
                <img src="../assets/img/texto-peluditos.png" alt="texto-peluditos" height="50px">
            </div>
            <h2>¡Hola, humano!</h2>
            <p>
                Te damos la bienvenida a <strong>Peluditos</strong>,
                tu autoservicio amigo. Queremos conocerte mejor antes
                de empezar.
            </p>
            <p><strong>Ingresá tu nombre:</strong></p>
            <input type="text" id="nombre" placeholder="Tu nombre">
            <button class="btn btn-primary" id="btn-continuar" type="button">Continuar</button>
        </div>
    </div>
    <!----Header---->
    <div id="header-container"></div>
    <!----Main---->
    <main class="main-center">
        <!----Hero---->
        <div class="hero-container">
            <section class="hero-container-left">
                <h1 class="title-primary">¡Tenemos todo lo que tu mejor amigo necesita!</h1>
                <p class="text-primary">
                    Comprar para tu mascota ahora es más fácil y rápido. 
                    Armá tu pedido y retiralo por caja.
                </p>
            </section>
            <section class="hero-container-right">
                <button class=" btn btn-category" data-cat="comida">
                    <img class="img-category" src="../assets/img/alimentos-logo.jpg" alt="Alimentos">
                    <span class="medium-text">Alimentos</span>
                </button>
                <button class="btn btn-category" data-cat="accesorio">
                    <img class="img-category" src="../assets/img/accesorios-logo.jpg" alt="Accesorios">
                    <span class="medium-text">Accesorios</span>
                </button>
            </section>
        </div>
    </main>

    <!----Footer---->
    <div id="footer-container"></div>

    <script type="module" src="../js/main.js"></script>

</html>