<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
    <title>Peluditos Pet Shop</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon_io/favicon-16x16.png">
    <meta name="view-transition" content="same-origin">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

    <!----Header---->
    <div id="header-container"></div>
    <!----Main---->
    <main>
        <!----Seccion de productos-->
        <section class="products-container">
            <header class="products-header">
                <h2 class="title-primary">Nuestros productos</h2>

                <nav class="filters-nav">
                    <button class="btn btn-ghost " id="btn-alimentos" data-cat="comida">Alimentos</button>
                    <button class="btn btn-ghost " id="btn-accesorios" data-cat="accesorio">Accesorios</button>
                </nav>
            </header>
            <div class="products-grid"></div>
            <div class="no-products-container hidden">
                <p class="no-products">¡Ups! Nuestros productos no están disponibles en este momento.</p>
            </div>
        </section>
    </main>
    <!----Footer---->
    <div id="footer-container"></div>

    <div id="modal-container" class="modal-overlay hidden">
        <div class="modal-content">
            <h3 id="modal-title">Atención</h3>
            <p id="modal-message"></p>
            <div class="modal-actions">
                <button id="modal-btn-cancel" class="btn btn-secondary">Cancelar</button>
                <button id="modal-btn-confirm" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>

    <script type="module" src="../js/main.js"></script>
</body>

</html>