<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
    <title>Peluditos Pet Shop</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon_io/favicon-16x16.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <meta name="view-transition" content="same-origin">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

    <!----Header---->
    <div id="header-container"></div>
    <!----Main---->
    <main>
        <!----Ticket---->
        <section class="ticket-section">
            <div>
                <h2>¡Gracias por tu compra!</h2>
            </div>
            <div class="ticket-container">

                <!-- HEADER -->
                <h3><strong>🐾 Tienda peluditos 🐾</strong></h3>
                <div class="ticket-header">
                    <p class="ticket-id"><strong>N° de pedido: </strong>012930</p>
                    <p class="ticket-user"><strong>Usuario: </strong>pepito</p>
                    <p class="ticket-date"><strong>Fecha y hora: </strong>12/12/12 12:12</p>
                </div>
                <div class="divider"></div>

                <!-- PRODUCTOS -->
                <table class="ticket-table">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cant.</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="ticket-item">
                            </td>
                            <td class="ticket-item-name">Comida para perritos</td>
                            <td class="ticket-qty">4</td>
                            <td class="ticket-item-price">$5000
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- TOTAL -->
                <div class="divider"></div>
                <div class="ticket-total">
                    <span><strong>Total</strong></span>
                    <span class="total-price">$3000</span>
                </div>
            </div>
        </section>

        <!-- BOTONES -->
        <div class="ticket-btn-container">
            <button class="btn btn-primary btn-download">Descargar ticket</button>
            <button class="btn btn-primary btn-back">Volver a inicio</button>
        </div>
    </main>
    <!----Footer---->
    <div id="footer-container"></div>


    <div id="modal-container" class="modal-overlay hidden">
        <div class="modal-content">
            <h3 id="modal-title">Atención</h3>
            <p id="modal-message"></p>
            <div class="modal-actions">
                <button id="modal-btn-cancel" class="btn btn-secondary">Cancelar</button>
                <button id="modal-btn-confirm" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>

    <script type="module" src="../js/main.js"></script>

</html>